@font-face {
    font-family: "Font_logo";
    src: url("../font/Font_logo");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Font_logo";
}

h1 {
    background-color: rgba(0, 0, 0, 0.09);
    width: 100%;
    text-align: center;
    font-size: 10vw;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    background-color: #c0630b;
}

.navbar>img {
    height: 10rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 3rem;
    font-weight: 400;
    color: black;
}

.nav-link:hover {
    color: white;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

@media only screen and (max-width: 950px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 10rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 0.75rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}


main {
    padding: 5vh 0;
    background-color: #f8dea1;
}

hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}



hero>p {
    margin: 1vh 1vw;
    font-size: 4vw;
    text-align: center;
}


.bureau-presentation>img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: block;
}

.image-list {
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 2rem;
    height: 100%;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
}

.card>img {
    width: 100%;
    height: 30vw;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
}

footer {
    height: 2rem;
    background-color: #c0630b;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em;
}

footer span {
    font-size: 1.5rem;
    font-weight: 500;
}

.socials {
    display: flex;
    gap: 1rem;
}

.socials img {
    height: 3em;
    width: auto;
}